.reg-input{
    min-width: 20rem;
    min-height: 3.2rem;
    color: #ff323c;
}
body{
    background:white;
}
.register-btn{
    height: 3rem;
}
#navbar-section{
    width: 100%;
}
.navbar{
    width: 100%;
    height: 4rem;
}
.header-section{
  width: 100%;
  position: fixed;
  top: 0;
}
.carousel{
    height: 100vh;
}
.home-text{
    left: 4rem;
    bottom: 10rem;
}
#regipage{
    width: 100%;
}
.regipage-section{
    width: 90vw;
}
.regi-form{
    width: 50%;
}
.regi-img{
    width: 50%;
    height: 75%;
    margin-top: 1.2rem;
    background-image: url('../assets/RegisterImage/reg-img.jpg');
    background-size: contain;
    box-shadow: 1px 1px 20px rgb(192, 198, 192);
    border-radius: 10px;
}
.login-btn:hover{
   background-color: white;
   color: #ff323c;;
}